<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZnyUWFeSBU53bCT-3WU1aseHcb_HuC5U</string>
	<key>GCM_SENDER_ID</key>
	<string>244190624368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nansuDriver</string>
	<key>PROJECT_ID</key>
	<string>cabbooking-e2013</string>
	<key>STORAGE_BUCKET</key>
	<string>cabbooking-e2013.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244190624368:ios:6473c597c2f7edb9af92b5</string>
	<key>DATABASE_URL</key>
	<string>https://cabbooking-e2013-default-rtdb.firebaseio.com</string>
</dict>
</plist>